<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.hll520.lpc.xk">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/wtu"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/wtu"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.DayNight.NoActionBar">
        <activity android:name=".Activity.kcb.LoginKcbActivity"></activity>
        <activity android:name=".Activity.kcb.EditCourseActivity" />
        <activity android:name=".Activity.kcb.KcbActivity" />
        <activity android:name=".Activity.PeoData.OutPeoActivity" />
        <activity android:name=".Activity.PeoData.ImproActivity" />
        <activity android:name=".Activity.PeoData.upPeo" />
        <activity android:name=".Activity.PeoData.NewPeoActivity" />
        <activity android:name=".Activity.UpMydataActivity" />
        <activity
            android:name=".Activity.ChatActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".Activity.infolistActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".Activity.AboutActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".Activity.ReguserActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".Activity.ForgetActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".Activity.PeocardActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".Activity.MyActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".Activity.ContactActivity"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="cn.hll520.wtu.xk.MAINTWO" />

                <category android:name="cn.hll520.wtu.xk.contact" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.LoginActivity"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="cn.hll520.wtu.xk.MAINONE" />

                <category android:name="cn.hll520.wtu.xk.login" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name=".provider.ContactProvider"
            android:authorities="cn.hll520.lpc.xk.provider.ContactProvider"
            android:exported="true" />
        <provider
            android:name=".provider.UserProvider"
            android:authorities="cn.hll520.lpc.xk.provider.UserProvider"
            android:exported="true" />
        <provider
            android:name=".provider.InfoListProvider"
            android:authorities="cn.hll520.lpc.xk.provider.InfoListProvider"
            android:exported="true" />
        <provider
            android:name=".provider.InfoProvider"
            android:authorities="cn.hll520.lpc.xk.provider.InfoProvider"
            android:exported="true" />
        <provider
            android:name=".Activity.kcb.CourseProvider"
            android:authorities="cn.hll520.lpc.xk.Activity.kcb.CourseProvider"
            android:exported="true" />
    </application>

</manifest>